.product-page {
  max-width: 1300px;
  margin: 1rem auto;
  display: flex;
}

.product-page .left {
  display: flex;
  flex: 0.8;
}

.product-page .left .image {
  margin: 1rem;
  flex: 0.6;
}

.product-page .left .info {
  margin: 1rem;
  flex: 0.4;
  background: #fff;
  height: fit-content;
  font-size: 0.9rem;
}

.product-page .left .name {
  font-weight: bold;
  font-size: 1.3rem;
}

.product-page .left .info > p,
.product-page .right .info > p {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-page .left .info > p:last-child,
.product-page .right .info > p:last-child {
  border: none;
}

.product-page .right {
  flex: 0.2;
}

.product-page .right .info {
  width: 250px;
  margin: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.product-page .right .info p {
  padding: 1rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-page .right .info p > button {
  grid-column: 1/-1;
  width: 100%;
  padding: 10px 16px;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
  border-radius: 5px;
}

.product-page .right .info select {
  padding: 10px 16px;
}
